!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
  %p 
    = "You have received and email from the sit's contact us form, from #{@name}, #{@email}."
  %p 
    = @body
